<!-- Header -->
<div id="header">

	<!-- Logo -->
	<h1><a href="index.html">_iLuxDe_</a></h1>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li class="current"><a href="index.html">Home</a></li>
			<li>
				<a href="#">Dropdown</a>
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li>
						<a href="#">Phasellus consequat</a>
						<ul>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
						</ul>
					</li>
					<li><a href="#">Veroeros feugiat</a></li>
				</ul>
			</li>
			<li><a href="left-sidebar.html">Left Sidebar</a></li>
			<li><a href="right-sidebar.html">Right Sidebar</a></li>
			<li><a href="no-sidebar.html">No Sidebar</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<div id="banner">
		<header>
			<h2>Вас Приветствует</h2>
			<h2>виртуальная вселенная "iLuxDe"</h2>
			<p>Вселенная помогает узнать много нового и окунуться в Web 3.0 </p>
		</header>
	</div>

	<!-- Intro -->
	<div id="intro" class="container">
		<div class="row">
			<div class="col-4 col-12-medium">
				<div class="first">
					<i class="icon solid featured fa-cog"></i>
					<header>
						<h2>Цифровой Мир</h2>
					</header>
					<p>Цифровой мир стал безопаснее, и вместе с ним появилось много замечательных идей.</p>
				</div>
			</div>
			<div class="col-4 col-12-medium">
				<div class="middle">
					<i class="icon solid featured alt fa-bolt"></i>
					<header>
						<h2>Вселенная "iLuxDe"</h2>
					</header>
					@*<p></p>*@
				</div>
			</div>
			<div class="col-4 col-12-medium">
				<div class="last">
					<i class="icon solid featured alt2 fa-star"></i>
					<header>
						<h2>Все О Будущем</h2>
					</header>
					<p>Смотрети в будущее и преднамеренно действуйте, чтобы контролировать свою судьбу.</p>
				</div>
			</div>
		</div>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button large">Get Started</a></li>
				<li><a href="#" class="button alt large">Learn More</a></li>
			</ul>
		</footer>
	</div>

</div>